/* LESS functions for formatting */
.border-radius-top (@radius: 5px) {
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-topright: @radius;
	-webkit-border-top-left-radius: @radius;
	-webkit-border-top-right-radius: @radius;
}

.border-radius-bottom (@radius: 5px) {
	border-bottom-left-radius: @radius;
	border-bottom-right-radius: @radius;
	-moz-border-radius-bottomleft: @radius;
	-moz-border-radius-bottomright: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
}

.box-shadow (@a: 5px, @b: 5px, @c: 5px, @color: #888888) {
	-moz-box-shadow: @a @b @c @color; /* Firefox */
	-webkit-box-shadow: @a @b @c @color; /* Safari and Chrome */
	box-shadow: @a @b @c @color;
}

/* Regular CSS style definitions via LESS */
body {
	background-image: url('/static/images/bg.jpg');
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	color: #444;
	
	#container {
		width: 900px;
		margin: 0 auto;
		
		#userstatus {
			text-align: right;
			font-size: 11px;
			margin: 5px;
			color: #fff;
		}
		
		#header {
			cursor: pointer;
			background: #ddd;
			border: 1px solid #999;
			color: #444;
			padding: 10px;
			font-size: 35px;
			.border-radius-top(2px);
		}
		
		#content {
			background: #ccc;
			border-right: 1px solid #999;
			border-left: 1px solid #999;
			
			#accordion {
				span {
					font-size: 9px;
					float: right;
					text-align: right;
					margin: 5px;
				}
				
				div {
					margin: 0;
					padding: 0;
					
					p {
						margin: 0;
						padding: 0;
					}
					
					button {
						font-size: 12px;
						float: right;
					}
					
					ul {
						border-top: 1px solid #ccc;
						border-bottom: 1px solid #ccc;
						margin: 0;
						padding: 0;
						list-style: none;
						
						li {
							cursor: pointer;
							background: #ccc;
							color: #000;
							opacity: .5;
							
							p {
								padding: 15px;
							}
							
							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
		}
		
		#footer {
			background: #ddd;
			text-align: center;
			color: #444;
			padding: 10px;
			font-size: 10px;
			border: 1px solid #999;
			.border-radius-bottom(2px);
		}
	}
	
	.clear {
		clear: both;
	}
}
